aiodns==3.0.0
aiohttp==3.7.4.post0
altgraph==0.17
anaconda==0.0.1.1
aniso8601==9.0.1
anyio==3.6.1
argon2-cffi==20.1.0
asgiref==3.5.2
async-generator==1.10
async-timeout==3.0.1
attrs==20.3.0
auto-py-to-exe==2.10.0
backcall==0.2.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
bleach==3.2.1
bottle==0.12.19
bottle-websocket==0.2.9
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.2
cchardet==2.1.7
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cloudscraper==1.2.58
colorama==0.4.4
country-list==1.0.0
cryptography==3.4.7
cycler==0.10.0
dec2bin==1.0.4
decorator==4.4.2
defusedxml==0.6.0
Django==4.0.6
docopt==0.6.2
Eel==0.12.4
entrypoints==0.3
et-xmlfile==1.1.0
EZGmail==2021.8.5
EZSheets==2021.8.5
fastapi==0.79.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
googleapis-common-protos==1.53.0
graphene==3.1
graphql-core==3.2.1
graphql-relay==3.2.0
greenlet==1.1.1
h11==0.13.0
httplib2==0.19.1
idna==2.10
imageio==2.9.0
ipykernel==5.4.2
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.2
joblib==1.0.0
json5==0.9.5
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.7.0
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
kiwisolver==1.3.1
lxml==4.6.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
MouseInfo==0.1.3
multidict==5.2.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
networkx==2.5
nltk==3.5
nose==1.3.7
notebook==6.1.5
numpy==1.20.2
oauth2client==4.1.3
oauthlib==3.1.1
opencv-python==4.5.1.48
openpyxl==3.0.7
packaging==20.8
pandas==1.1.5
pandocfilters==1.4.3
parso==0.7.1
pefile==2021.5.24
pickleshare==0.7.5
Pillow==9.0.0
prometheus-client==0.9.0
promise==2.3
prompt-toolkit==3.0.8
protobuf==3.17.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycares==4.0.0
pycparser==2.20
pydantic==1.9.1
PyGetWindow==0.0.9
Pygments==2.7.3
PyInputPlus==0.2.12
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PyMsgBox==1.0.9
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
PySimpleValidate==0.2.12
python-dateutil==2.8.1
python-docx==0.8.11
python-gql==0.2.4
PyTweening==1.0.3
pytz==2020.4
PyWavelets==1.1.1
pywhatkit==5.0
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==20.0.0
qtconsole==5.0.1
QtPy==1.9.0
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.7.2
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
Rx==1.6.1
scikit-image==0.18.0
scikit-learn==0.23.2
scipy==1.6.2
selenium==3.141.0
Send2Trash==1.5.0
singledispatch==3.7.0
six==1.15.0
sniffio==1.2.0
soupsieve==2.2.1
sqlparse==0.4.2
starlette==0.19.1
starlette-graphene3==0.6.0
stdiomask==0.0.6
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2020.12.8
tornado==6.1
tqdm==4.54.1
traitlets==5.0.5
typing-extensions==3.10.0.2
tzdata==2022.1
udemy-enroller==3.2.0
uritemplate==3.0.1
urllib3==1.26.2
uvicorn==0.18.2
wcwidth==0.2.5
webencodings==0.5.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wikipedia==1.4.0
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
